.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 244, 254);
}

.checkoutProduct__info {
    padding-left: 20px
}

.checkoutProduct__info > button {
    background: #ff5100;
    border: 1px solid;
    margin-top: 10px;
    border-color: #e87742;
    color: #111;
    width: 150px;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.checkoutProduct__rating {
    display: flex;
  }

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}